body{
    background-image: url(ll.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 10% 30%;


}
h1{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(241, 235, 235);
    text-align: center;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(161, 175, 175);
    text-align: justify;
    text-align: center;
}
